[project]
name = "redlines"
version = "0.5.0"
description = "Compare text, and produce human-readable differences or deltas which look like track changes in Microsoft Word."
readme = "README.md"
dependencies = [
    "click>=8.1.7",
    "rich-click>=1.8.3",
    "rich>=13.9.1",
]
requires-python = ">=3.8"

[tool.uv]
dev-dependencies = [
    "pdoc>=14.7.0",
    "pytest>=8.3.3",
    "pytest-cov>=5.0.0",
    "pytest-sugar>=1.0.0",
    "tox>=4.21.0",
]

[project.scripts]
redlines = 'redlines.cli:cli'

[tool.poetry]
name = "redlines"
version = "0.5.0"
description = "Compare text, and produce human-readable differences or deltas which look like track changes in Microsoft Word."
authors = ["houfu <houfu@outlook.sg>"]
license = "MIT"
readme = "README.md"
homepage = "https://houfu.github.io/redlines/"
repository = "https://github.com/houfu/redlines"

[tool.poetry.dependencies]
python = "<4.0,>=3.8"
rich = "^13.3.5"
click = "^8.1.3"
rich-click = "^1.6.1"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
pytest-sugar = "^0.9.4"
pytest-cov = "^3.0.0"
tox = "^3.24.5"
pdoc = "^14.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
redlines = 'redlines.cli:cli'
