[tool.poetry]
name = "redlines"
version = "0.2.1"
description = "Compare text, and produce human-readable differences or deltas which look like track changes in Microsoft Word."
authors = ["houfu <houfu@lovelawrobots.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/houfu/redlines"
repository = "https://github.com/houfu/redlines"

[tool.poetry.dependencies]
python = "^3.10 "

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
pytest-sugar = "^0.9.4"
pytest-cov = "^3.0.0"
tox = "^3.24.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
